# Python Fundamentals

## Comments

- Comments are pieces of text in a programming language that are not executed but are meant to provide additional information and context to understanding the logic and structure of code
- In python the # character is used to denote a comment

## Variables

- Every programming language has variables which a a method to store data that can be used by the program at different stages. 
- The data type stored in a variable can include a number, a string, a Boolean (true or false), a list or some other data type. 
- Every variable is assigned a name that can consists of numbers, letters and the underscore character.
- A value is assigned to a variable using an  "="  sign.

In [2]:
# These are all valid variable names and assignment
 
user_name = "irtiza" # String 
user_id = 50 # Integer
identity_confirmed = False # Boolean

- Now lets check the value assigned and see how it can be called back.

- "print(  )" is a python function that is used to display an output to screen or to the console. It takes one or   more arguments and will output each of the arguments to the console separated by a space.

In [3]:
print(user_name) # In this case we are printing out the value of the variable "user_name"

irtiza

- The value of a variable can be reassigned at any point 

- Lets print the value of user_id

In [4]:
print(user_id)

50

- Now as we can see the value of the user_id is 50 we can reassign a new value to it
- We now want the user_id to have a value of 100

In [5]:
user_id = 100 # Reassigning new value to variable.
print(user_id) # Checking the newly assigned value and confirming it's replaced the old one.

100

## Strings

- A string is a sequence of characters (could include numbers, letters, white space or punctuation) enclosed by doubble quotation marks " " or single ' '.
- If a string has to be broken into multiple lines then a backslash character can be used "\" to indicate that the string continues on the next line.

In [11]:
name = "John Doe"
sex = 'Male'
 
longer_string = "This string is broken up \
over multiple lines"

In [12]:
print(longer_string)

This string is broken up over multiple lines

## Arthemetic Operations

Python supports differnet type of arthemetic operations that can be performed on varibales, numbers or a combination. The common one are as follows
- ( + ) for addition
- ( - ) for subtraction
- ( * ) for multiplication
- ( / ) for division
- ( % ) for modulus (returns the remainder)
- ( ** ) for exponentiation

In [13]:
addition = 5 + 10
subtraction = 15 - 5
multiply = 30 * 5
divide = 16 / 4
remainder = 25 % 2
exponent  = 5 ** 2 # 5 to the power of 2

## Data Types

A variable can store different types of data, and each type of data can perform different operations. The most common data types are:
-	String: Used to store text or characters.
- Integer: Used to store whole numbers without decimal points.
- Float: Used to store numbers with decimal points.
- Boolean: Used to store either true or false values.
	
To determine the type of an object, you can use the type( ) function. It will return the specific data type of the object you pass as an argument.

In [2]:
x = 7
print(type(x))

<class 'int'>

## Lists

- Lists are an ordered collection of items that allow for easily storing and retrival of data.
- List values are places between square [ ] brackets, seperated by commas.
- A good practice is to put space between the comma and the next value.
- Same values can be repeated in a list.
- You can also create an empty list and add values to it later using the append function.

In [19]:
fruits = ["Apple", "Orange", "Banana", "Raspberry"] # Need to be stored as strings 
print(fruits)

['Apple', 'Orange', 'Banana', 'Raspberry']

In [20]:
# Access the third item from the list 
# Count starts from 0 not 1 
print(fruits[2])

Banana

### Append Function

In [22]:
fruits

['Apple', 'Orange', 'Banana', 'Raspberry']

In [23]:
# Now lets see how we append a value to an existing list or an empty list
# Let's add  to this this existing list.

fruits.append("Strawberry") 

print(fruits) # Check if "Strawberry" is now added to our list

['Apple', 'Orange', 'Banana', 'Raspberry', 'Strawberry']

## Loops

### For Loop

- A python for loop can be used to iterate over a list of items or perform actions on each item.
- Indentations are very important within all loops otherwise you may get an indentation error.

In [24]:
# Let's write an example for loop 

#each num in nums will be printed below
numbers = [1,2,3,4,5] # A list of numbers 

for num in numbers: 
  print(num)

# Format 
# for <temporary variable> in <list variable>:
#   <action statement>
#   <action statement>

1
2
3
4
5

### While Loop

- A while loop will repeatedly execute a code block until a condition is satisfied.

In [31]:
# This loop will run five times until the condition is true

i = 1
while i < 6:
  print(i)
  i = i + 1

1
2
3
4
5

### Nested Loops

- A nested loop is when a loop is placed within another loop.
- Nested loops can be used to access items of lists which are inside other lists. The item selected from the outer loop can be used as the list for the inner loop to iterate over.

In [1]:
nested_list = [["Jobs", "Gates"], ["Newton", "Euclid"], ["Einstein", "Feynman"]]
 
# This outer loop will iterate over each list in the nested list
for list in nested_list:
  # This inner loop will go through each name in each list
  for name in list:
    print(name)

inner loop
Jobs
inner loop
Gates
inner loop
Newton
inner loop
Euclid
inner loop
Einstein
inner loop
Feynman

# Exercise 1: Print First 10 natural numbers using while loop

In [57]:
# Expected Output

# 1
# 2
# 3
# 4
# 5
# 6
# 7
# 8
# 9
# 10

In [60]:
# Solution

# Exercise 2: Print list in reverse order using a loop

In [62]:
# Given

list1 = [10, 20, 30, 40, 50]
# Hint: Look at the reversed function in Python

In [61]:
# Solution

# Exercise 3: Write a for loop that iterates through a string and prints every letter.

In [63]:
# Given

str="London"

In [66]:
# Solution

# Exercise 4: Using a for loop and .append() method to append each item in the list to a new list with a Dr. prefix added to each name.

In [68]:
# Given

list=["Phil", "Oz", "Seuss", "Dre"]

# Expected Output 

# new_list = ["Dr. Phil", "Dr. Oz"...]

In [69]:
# Solution